.content-container{
	background-color: rgba(255, 255, 255, 0.4) !important;
	margin-left: 10%;
    margin-right: 10%;
	margin-bottom: 4%;
	//height: 85%
}

.text{
	background-color: rgba(255, 255, 255, 0) !important; //disable bg
	margin-left: 5%;
    margin-right: 5%;
}

h1{
	text-align: center;
    color: red;
    background: -webkit-linear-gradient(#ff0000, #400000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}